/* Meyer’s Reset CSS v2.0 | 20110126
    http://meyerweb.com/eric/tools/css/reset/ 
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
     display: block;
}

body {
     line-height: 1;
}

ol, ul {
     list-style: none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
     content: '';
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}

html {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

h1 {
     font-size: 50px;
     padding-bottom: 20px;
}

#startButton {
     display: flex;
     justify-content: center;
     align-items: center;
}


.gameboard {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    grid-gap: 0px;
}

.gameboard div {
     border: 1px solid black;
     border-right: none;
     border-bottom: none;
     transition: background-color .25s;
}

.gameboard div:nth-child(3n) {
     border-right: 1px solid black;
}

.gameboard div:nth-child(n+7) {
     border-bottom: 1px solid black;
}

.gameboard div:hover {
     background-color: rgb(238, 238, 238);
}

#scoreboard {
     display: flex;
     justify-content: space-between;
}

#main {
     display: block;
}

fieldset {
     display: flex;
     flex-direction: column;
     gap: 5px;
}

legend {
     padding-bottom: 10px;
     font-weight: bold;
}

#scoreboard div div:nth-child(1) {
     font-weight: bold;
}